<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css"/>

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>

    <title>Secret Santa</title>
</head>

<body>
<div class="container">
    <header class="py-3">
        <div class="row flex-nowrap d-flex justify-content-between border-bottom">
            <div class="d-flex align-items-center">
            </div>
            <div>
                <div class="text-dark display-4">Secret Santa</div>
            </div>
            <div class="d-flex align-items-center">
                <a class="btn btn-sm btn-outline-secondary" href="https://github.com/jackwardell/SecretSanta">Github</a>
            </div>
        </div>
    </header>

    <section class="row p-4 p-md-5 mb-3 text-white rounded" style="background-image: url('{{ url_for("static", filename="img/secret_santa.jpeg") }}'); background-size: cover; background-position: center;">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Who's been naughty & who's been nice?</h1>
            <p class="lead my-3">Quickly input a list of email addresses, some simple rules and your group will have who to buy for in their inbox in no time</p>
            <p class="lead mb-0"><a href="#form" class="text-white font-weight-bold">GO</a></p>
        </div>
    </section>
    <section class="row my-3" id="form">
        <div class="card w-100">
            <div class="card-header">
                Assemble Your Participants
            </div>
            <div class="card-body">
                <div id="smartwizard">
                    <ul class="nav">
                        <li>
                            <a class="nav-link" href="#step-1">
                                Add your participants
                                <br>
                                <small>Add names and email addresses for all your group</small>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#step-2">
                                Set your rules
                                <br>
                                <small>Set rules like exclusions and max spend</small>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#step-3">
                                Format the invitation
                                <br>
                                <small>Write what gets sent out in your invitation email</small>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#step-4">
                                Confirm and submit
                                <br>
                                <small>Make sure eveything is in order before you send off the match ups</small>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="step-1" class="tab-pane" role="tabpanel">
                            <form>
                                {% for i in range(3) %}
                                    <div class="my-5">
                                        <label>Participant email address: <span class="text-danger">*</span></label>
                                        <div class="form-row">
                                            <div class="col-md-10">
                                                <input class="form-control form-control-lg">
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-lg btn-danger w-100">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-lg btn-success">+ Add Another Participant</button>
                                </div>
                            </form>
                        </div>
                        <div id="step-2" class="tab-pane" role="tabpanel">
                            Step content
                        </div>
                        <div id="step-3" class="tab-pane" role="tabpanel">
                            Step content
                        </div>
                        <div id="step-4" class="tab-pane" role="tabpanel">
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {

        // SmartWizard initialize
        $('#smartwizard').smartWizard({
            theme: 'dots'
        });

    });
</script>
</body>

</html>
{#        <div class="card w-100">#}
{#            <div class="card-header">#}
{#                Assemble Your Participants#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">Secret Santa</h5>#}
{#                <p class="card-text">Add an email address for each participant and then submit, it's that easy!</p>#}
{#                <form>#}
{#                    {% for i in range(3) %}#}
{#                        <label>Participant 1 email address:<span class="text-danger">*</span></label>#}
{#                        <div class="form-row my-2">#}
{#                            <div class="col-md-10">#}
{#                                <input class="form-control form-control-lg">#}
{#                                <a class="small" href="#">Add an exclussion</a>#}
{#                            </div>#}
{#                            <div class="col-md-2">#}
{#                                <button class="btn btn-lg btn-danger">Remove</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                    <div class="form-group text-center">#}
{#                        <button type="submit" class="btn btn-lg btn-success">+ Add Another Participant</button>#}
{#                    </div>#}
{##}
{#                    <div class="form-group text-center">#}
{#                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>#}
{#                    </div>#}
{##}
{#                </form>#}

{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}
